<ol class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="#">首页</a></li>
    <li class="active">操作日志</li>
</ol>

<h1 class="title-bar" style="margin-top: 8px;margin-bottom: 8px;">操作日志</h1>
<nav class="navbar navbar-light bg-faded">
    <form class="form-inline navbar-form pull-left">
        <input class="form-control" type="text" placeholder="输入操作详情模糊查找" [(ngModel)]="searchKey">
        <button class="btn btn-success-outline" type="submit"  (click)="filter()">查找</button>
    </form>
</nav>
<table class="table table-sm">
    <thead>
    <tr>
        <th>操作日期</th>
        <th>日志详情</th>
        <th>操作结果</th>
        <th>操作人</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let log of logs">
        <td>{{ log.log_time }}</td>
        <td>{{ log.content }}</td>
        <td>{{ log.oper_status }}</td>
        <td>{{ log.oper_user }}</td>

    </tr>
    </tbody>
</table>

